@font-face {
	font-family: "Gilroy";
	src: url('fonts/Gilroy-Bold.ttf');
}
@font-face {
	font-family: "Gilroy-Light";
	src: url('fonts/Gilroy-Light.otf');
}
@font-face {
	font-family: "Consola";
	src: url('fonts/Inconsolata-Regular.ttf');
}

.roboto {
	font-family: "Roboto";
	letter-spacing: 0.4px;
}

html,
body {
	margin: 0;
}

body {
	background-color: #eee;
}

header {
	padding: .75em 5%;
	width: 90%;
	position: fixed;
	background-color: #222929;
	border-bottom: solid 1px #1b2020;
	z-index: 100;
	transition: 0.3s;
	color: #eee;
}

header div {
	display: inline-block;
}

.logo {
	margin-left: 45%;
	width: 10%;
	text-align: center;
}

.header-links {
	float: right;
}

.header-link {
	margin-left: 1em;
}

.wrapper {
	padding: 9em 10% 3em 10%;
}

.login-wrapper {
	margin: 0 5%;
	min-height: 27em;
	display: flex;
	flex-direction: row;
	width: auto;
	height: auto;
	background-color: #fff;
	border-radius: 1em;
}

.gray-bg {
	background-color: #222929;
}

.login-image-placeholder {
	height: 25em;
	-display: inline-block;
	width: 45%;
	height: auto;
	min-height: 100%;
	position: relative;
	background-color: aqua;
}

.login-form {
	display: flex;
	flex-wrap: wrap;
	width: 45%;
	padding: 1em 3em;
}

.login-form input {
	background-color: #111;
	border: solid 1px #111;
	color: #eee;
	font-size: 1em;
	padding: .5em 1em;
	border-radius: 5em;
	margin-bottom: .3em;
}

input[type=submit] {
	background-color: #1aa31a;
	border-color: #1aa31a;
}

input {
	outline: none;
}

span {
	font-family: "Consola";
	line-height: 1.5em;
}

h3,
h4,
h5 {
	text-transform: uppercase;
}
